.web-project1 {
    background: url(../../images/mfadt/mfadt.jpg) no-repeat 50% 50%;
    background-size: 100%;

    &::after {
        content: "prism";
        font-family: "Roboto Mono";
        font-size: 36px;
        position: relative;
        color: #fff;
        display: block;
        top: 72%;
        left: 96%;
        right: 0;
        bottom: 0;
  }
}

.web-one:hover {
    cursor: pointer;
    .web-project1{
      background: url(../../images/mfadt/prism.gif) no-repeat 50% 50%;
      background-size: 100%;
    }
}
