/*--------------- basic styling --------------- */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #0f0f0f !important;
  color: #fff !important; }

body {
  overflow-x: hidden; }

.whitespace {
  width: 100%;
  height: 100px; }

a {
  color: #fff !important; }
  a:hover {
    color: #ccc !important;
    text-decoration: none !important; }

.link-ba {
  color: grey !important; }
  .link-ba:hover {
    color: #fff; }

/*--------------- typewriter effect --------------- */
.line {
  width: 24em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

.anim-typewriter {
  animation: typewriter 2.5s steps(40) 1s 1 normal both, blinkTextCussor 500ms steps(40) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 9em; } }
@media (max-width: 768px) {
  .whitespace {
    display: none; }

  @keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 9em; } } }
@keyframes blinkTextCussor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }
/*--------------- navigation --------------- */
nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  position: fixed;
  z-index: 1; }
  nav #brand {
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: bold; }
    nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out; }
      nav #brand a:hover {
        text-decoration: none; }
  nav #menu {
    float: left;
    right: 80px;
    position: fixed; }
    nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out; }
      nav #menu li span {
        font-weight: 700; }
      nav #menu li a {
        color: #fff; }
        nav #menu li a:hover {
          text-decoration: none; }
    nav #menu .about-image {
      width: 30px; }
    nav #menu .submenu {
      display: none;
      background: #222222e6;
      position: absolute;
      top: 100%;
      left: -0.6rem;
      z-index: 1000;
      float: left;
      min-width: 8.2rem;
      padding: 0rem;
      margin: -0.88rem 0 0;
      text-align: left;
      list-style: none;
      background-clip: padding-box;
      border-radius: .25rem; }
      nav #menu .submenu .submenu-item {
        display: block;
        width: 100%;
        padding: 0.2rem 1.9rem 0.2rem 1.5rem;
        clear: both;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0; }
        nav #menu .submenu .submenu-item:hover {
          background: #ffffff0a; }

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0; }

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out; }
  #resize .close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px; }
  #resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center; }
    #resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out; }
      #resize #menu li a {
        color: #fff; }
        #resize #menu li a:hover {
          text-decoration: none; }
  #resize.active {
    visibility: visible;
    opacity: 1; }

#resize li:nth-child(1) {
  margin-top: 140px; }

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px; }

  nav #brand {
    margin-left: 24px; }
  nav #menu {
    display: none; }

  #menu a {
    font-size: 20px;
    font-weight: 300; }

  #resize li span {
    font-weight: bolder; } }
@media (min-width: 768px) {
  #resize {
    visibility: hidden !important; } }
/*--------------- hero section --------------- */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.hero h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px; }

@media (max-width: 768px) {
  .header h1 {
    font-size: 26px; } }
/*--------------- scroll down icon animation --------------- */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite; }

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0; } }
/*--------------- projects section --------------- */
h6 {
  text-align: center; }

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%; }

.project {
  height: 500px; }
  .project.project1 {
    background: url(../../images/motion/chapubakha/chapubakha.jpg) no-repeat 31% 50%;
    background-size: cover; }
    .project.project1::after {
      content: "chagu bakha";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 10%;
      left: 88%;
      right: 0;
      bottom: 0; }
  .project.project2 {
    background: url(../../images/vr/magikku/magikku.jpg) no-repeat 80% 50%; }
    .project.project2::after {
      content: "magikku";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 12%;
      left: -15%;
      right: 0;
      bottom: 0; }
  .project.project3 {
    background: url(../../images/web/mfadt/mfadt.jpg) no-repeat 50% 50%;
    background-size: 100%; }
    .project.project3::after {
      content: "prism";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 72%;
      left: 96%;
      right: 0;
      bottom: 0; }
    .project.project3.project-web-3::after {
      content: none; }
  .project.project4 {
    background: url(../../images/motion/micdrop/micdrop.png) no-repeat 50% 50%;
    background-size: cover; }
    .project.project4::after {
      content: "micdrop";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 80%;
      left: -26%;
      right: 0;
      bottom: 0; }

.project-one:hover {
  cursor: pointer; }
  .project-one:hover .project1 {
    background: url(../../images/motion/chapubakha/chapubakha.gif) no-repeat 31% 50%;
    background-size: cover; }

.project-two:hover {
  cursor: pointer; }
  .project-two:hover .project2 {
    background: url(../../images/vr/magikku/magikku.gif) no-repeat 80% 50%; }

.project-three:hover {
  cursor: pointer; }
  .project-three:hover .project3 {
    background: url(../../images/web/mfadt/prism.gif) no-repeat 50% 50%;
    background-size: 100%; }

.project-four:hover {
  cursor: pointer; }
  .project-four:hover .project4 {
    background: url(../../images/motion/micdrop/micdrop2.gif) no-repeat 50% 50%;
    background-size: cover; }

.project-one:hover .project-des1::after {
  content: "Official Selection for #WeAreHereFest Film Festival at the Abrons Art Center in NYC on Sept 5th to Sept 7th, 2019. \A \A Chagu Bakha is an animated short film about a Deity from an ancient folklore in the Newar culture in Nepal. I explore digital storytelling with the memories of my hometown, Kathmandu and my childhood within the Newari culture.";
  white-space: pre-wrap;
  font-size: 15px;
  position: relative;
  color: grey;
  display: block;
  top: 35%;
  left: 10%;
  right: 0;
  bottom: 0;
  width: 70%;
  text-align: left; }

.project-two:hover .project-des2::after {
  content: "Magikku is a VR game where the player is a guardian of an ancient temple threatened by Evil Dragons. The player has to protect the temple using magical hand gesture to cast magic and eliminate the Dragons.";
  font-size: 15px;
  position: relative;
  color: grey;
  display: block;
  top: 40%;
  left: 25%;
  right: 0;
  bottom: 0;
  width: 70%;
  text-align: right; }

.project-three:hover .project-des3::after {
  content: "UI design and development of a website themed Prism for the thesis show of MFA Design and Technology in 2019 at Parsons School of Design.";
  font-size: 15px;
  position: relative;
  color: grey;
  display: block;
  top: 35%;
  left: 10%;
  right: 0;
  bottom: 0;
  width: 70%;
  text-align: left; }

.project-four:hover .project-des4::after {
  content: "Motion captured dance of BTS's song Mic Drop. The motions are captured in the Motion Capture room surrounded by 16 OptiTrack Cameras and then imported in Cinema4D to put bubbles on the skeleton.";
  font-size: 15px;
  position: relative;
  color: grey;
  display: block;
  top: 40%;
  left: 25%;
  right: 0;
  bottom: 0;
  width: 70%;
  text-align: right; }

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0; }
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto; }

  .vertical {
    display: none; }

  .project1::after, .project2::after, .project3::after, .project4::after {
    display: none; } }
/*--------------- footer section --------------- */
.collab {
  text-align: right; }

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px; }

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px; }

.info h4 {
  font-size: 18px;
  font-weight: lighter; }

.info p {
  color: grey;
  font-weight: lighter; }

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px; }

#fb::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998; }

#ig::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #fcaf45; }

#tw::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #55acee; }

#yt::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #c4302b; }

#media, #address {
  text-align: right; }

#media ul {
  list-style: none; }

#media ul li {
  display: inline-block; }

@media (max-width: 768px) {
  .collab, #personal, #media, #address {
    text-align: center; }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0; } }
/*--------------- work page --------------- */
.hero-content {
  margin-left: 0%; }

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey; }

.hero-content h6 {
  text-align: left; }

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto; } }
/*---------------about page --------------- */
.about {
  height: 500px;
  margin-top: 120px; }

.image {
  background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat 50% 70%; }

/*--------------- contact form --------------- */
#contact-form {
  margin: 5% 1.4%; }

#contact-form ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px; }

#contact-form li {
  padding: 10px; }

#contact-form li:last-of-type {
  border-bottom: none; }

#contact-form label {
  display: block;
  font-size: .8em;
  color: #999;
  padding-left: 5px; }

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #fff;
  font-weight: bolder; }

input:focus {
  outline: none;
  border: none; }

textarea:focus {
  outline: none;
  border: none; }

.textarea {
  border-bottom: 1px solid #dfdfdf; }

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 20px 30px;
  background: transparent;
  color: #dfdfdf;
  font-size: 14px;
  letter-spacing: 2px; }

.send:hover {
  background: #dfdfdf;
  color: #101010; }

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%; } }
/*--------------- project page --------------- */
.project-image img {
  width: 100%;
  height: 100%; }

.client-head {
  font-size: 1.1rem;
  color: grey;
  margin-bottom: 1.2rem; }

.client-images {
  border-top: 1px solid #191919;
  border-bottom: 1px solid #191919; }
  .client-images div {
    padding: 20px; }
    .client-images div img {
      width: 100%; }
      .client-images div img:hover {
        cursor: pointer; }
    .client-images div:hover {
      background: #ffffff12; }

.prev, .next p {
  color: grey; }
  .prev:hover, .next p:hover {
    color: #fff; }

.prev p {
  text-align: left; }

.next p {
  text-align: right; }

.active-link {
  background: #dddddd;
  padding: 3px 6px;
  border-radius: 4px;
  color: #000 !important; }
  .active-link:hover {
    color: #000 !important; }

/*--------------- work page --------------- */
.hero-content {
  margin-left: 0%; }

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey; }

.hero-content h6 {
  text-align: left; }

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto; } }
.web-project1 {
  background: url(../../images/web/mfadt/mfadt.jpg) no-repeat 50% 50%;
  background-size: 100%; }
  .web-project1::after {
    content: "prism";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 72%;
    left: 96%;
    right: 0;
    bottom: 0; }

.web-one:hover {
  cursor: pointer; }
  .web-one:hover .web-project1 {
    background: url(../../images/web/mfadt/prism.gif) no-repeat 50% 50%;
    background-size: 100%; }

.web-project2 {
  background: url(../../images/web/cardin/cardin.png) no-repeat 50% 50%;
  background-size: 100%; }
  .web-project2::after {
    content: "album template";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 48%;
    left: -27%;
    right: 0;
    bottom: 0; }

.web-two:hover {
  cursor: pointer; }
  .web-two:hover .web-project2 {
    background: url(../../images/web/cardin/cardin.gif) no-repeat 50% 50%;
    background-size: 100%; }

.vr-project1 {
  background: url(../../images/vr/magikku/magikku.jpg) no-repeat 50% 50%;
  background-size: 100%; }
  .vr-project1::after {
    content: "magikku";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 72%;
    left: 96%;
    right: 0;
    bottom: 0; }

.vr-one:hover {
  cursor: pointer; }
  .vr-one:hover .vr-project1 {
    background: url(../../images/vr/magikku/magikku.gif) no-repeat 50% 50%;
    background-size: 100%; }

.vr-project2 {
  background: url(../../images/vr/mythicalland/mythicalland.png) no-repeat 50% 50%;
  background-size: 100%; }
  .vr-project2::after {
    content: "mythical land";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 48%;
    left: -27%;
    right: 0;
    bottom: 0; }

.vr-two:hover {
  cursor: pointer; }
  .vr-two:hover .vr-project2 {
    background: url(../../images/vr/mythicalland/mythicalland.gif) no-repeat 50% 50%;
    background-size: 100%; }

.motion-project1 {
  background: url(../../images/motion/chapubakha/chapubakha.jpg) no-repeat 50% 50%;
  background-size: 100%; }
  .motion-project1::after {
    content: "chagu bakha";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 72%;
    left: 96%;
    right: 0;
    bottom: 0; }

.motion-one:hover {
  cursor: pointer; }
  .motion-one:hover .motion-project1 {
    background: url(../../images/motion/chapubakha/chapubakha.gif) no-repeat 50% 50%;
    background-size: 100%; }

.motion-project2 {
  background: url(../../images/motion/micdrop/micdrop.png) no-repeat 50% 50%;
  background-size: 100%; }
  .motion-project2::after {
    content: "mic drop";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 48%;
    left: -27%;
    right: 0;
    bottom: 0; }

.motion-two:hover {
  cursor: pointer; }
  .motion-two:hover .motion-project2 {
    background: url(../../images/motion/micdrop/micdrop2.gif) no-repeat 50% 50%;
    background-size: 100%; }

/*# sourceMappingURL=main.css.map */
